     body {
        margin: 0;
        height: 100vh; 
      background-image: url("fondo.jpg");
      background-size: auto 100%;
      background-position: center top;
      background-repeat: no-repeat;
      background-attachment: scroll;
        }

        nav {
            text-align: center;
            margin-bottom: 20px;
        }
        nav a {
            margin: 0 15px;
            text-decoration: none;
            color: #fd83c0;
            font-weight: bold;
            font-size: 1.2rem;
        }
        nav a:hover {
            text-decoration: underline;
        }

    .contenido {
        text-align: center;
        max-width: 80%;
        margin: auto;  
        background: rgba(255, 255, 255, 0.6); 
        padding: 15px;
        border-radius: 15px;
        font-size: 1rem;
    }
    .boton-contenedor {
        display: flex;
        justify-content: center; 
        margin-top: 20px;        
    }
    .btn {
      padding: 10px 20px;
      font-size: 18px;
      background: #fd83c0;
      border: none;
      border-radius: 10px;
      color: white;
      cursor: pointer;
    }
    .modal {
      display: none;
      position: fixed;
      top: 0; left: 0;
      width: 100%; height: 100%;
      background: rgba(0,0,0,0.8);
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .modal img {
      max-width: 80%;
      max-height: 80%;
      margin: 10px;
      border-radius: 15px;
      box-shadow: 0px 0px 10px black;
    }
    .modal video {
      max-width: 80%;
      max-height: 80%;
      margin: 10px;
      border-radius: 15px;
      box-shadow: 0px 0px 10px black;
    }
    .close {
      position: absolute;
      top: 20px;
      right: 30px;
      font-size: 40px;
      color: white;
      cursor: pointer;
    }