        body{
            font-family: "Georgia", serif;
            background: linear-gradient(to bottom right, #ec70a2, #df6767);
            color: #444;
            margin: 0;
            padding: 0;
        }
        nav {
            text-align: center;
            margin: 20px 0;
            z-index: 10; 
        }
        nav a {
            margin: 0 15px;
            text-decoration: none;
            color: #fd83c0;
            font-weight: bold;
            font-size: 1.2rem;
        }
        nav a:hover {
            text-decoration: underline;
        }
        
        .carta {
            max-width: 800px;
            margin: 50px auto;
            background: #fffafc;
            padding: 40px;
            border-radius: 20px;
            box-shadow: 0 8px 20px rgba(0,0,0,0.1);
            line-height: 1.8;
            z-index: 10; 
        }

        .hearts-container {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
            z-index: 0;
        }
        .heart {
            position: fixed;
            bottom: -20px;
            color: red;
            font-size: 20px;
            animation: subir 5s linear infinite;
            opacity: 0.7;
            z-index: 1;
        }

        @keyframes subir {
            0% {
            transform: translateY(0) scale(1);
            opacity: 0.8;
        }
            50% {
            opacity: 1;
        }
            100% {
            transform: translateY(-120vh) scale(1.5);
            opacity: 0;
        }
        }
        p {
         margin-bottom: 20px;
         font-size: 1.2rem;
        }